@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Playfair Display;
}

/* navbar starts */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 13vh;
    z-index: 1; 
}

#logotipo {
    width: 8%;
    height: 9vh;
    margin-top: 0.6rem;
    margin-left: 10rem;
}

.classUlNav {
    display: flex;
    cursor: pointer;
    list-style: none;
    justify-content: space-between;
    color: #AC95BB;
    border: blue 1px solid;
}

.classLiNav:hover {
    color: #9767A9;
    font-weight: bold;
}

#buscar {
    border-color: #AC95BB;
    width: 12rem;
    height: 2rem;
    border-radius: 3rem;
    padding-left: 2rem;
    background-image: url(./images/Layer_3.png);
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: 0.6vw;
}

.divIconsNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    right: 3rem;
}

.iconsNav {
    width: 27%;
    height: 5.5vh;
    cursor: pointer;
}

/* navbar ends */

/* header starts*/

.sectionOne {
    position: relative;
    display: flex;
    width: 100%;
}

#cabeludo {
    width: 100vw;
    height: 50vw;
}

.sectionOneText1 {
    display: flex;
    position: absolute;
    top: 60vh;
    left: 30vh;
    align-items: center;
}

.sectionOneText1 p {
    display: flex;
    position: absolute;
    color: #ffffff;
    font-family: Playfair Display;
    font-weight: bolder;
    text-align: left;
    font-size: 5vw;
}

.sectionOneText2 {
    display: flex;
    position: absolute;
    top: 55vh;
    left: 125vh;
}

.sectionOneText2 p {
    color: #ffffff;
    text-align: left;
    font-size: 2.3vw;
}

/* header ends */

/* sectionpurple starts */

.sectionPurple {
    display: flex;
    width: 100%;
    height: 20rem;
    position: relative;
    background-color: #9767A9;
}

.sectionPurple1 {
    display: flex;
    width: 55%;
}

.sectionPurple2 {
    display: flex;
    width: 45%;
    align-items: center;
}

.sectionPurple1 p {
    color: #ffffff;
    font-family: Playfair Display;
    font-size: 3.5vw;
    margin-left: 7vh;
    margin-top: 2vh;
}

.sectionPurple2 p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 1.5vw;
    margin-right: 3vh;
}
/* sectionpurple ends */

/* sectionPhotos starts */

.sectionPhotos {
    display: flex;
}

.sectionPhotosImg {
    width: 40%;
}

.sectionPhotos1 {
    display: flex;
    width: 55%;
    max-height: 50vw;
    padding: 2rem;
}

.sectionPhotos1 img{
    top: 55rem;
    position: absolute;
    left: 5rem;
}

.sectionPhotosTxt1 {
    width: 50%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: 9rem;
    padding: 0.5rem;
}

.sectionPhotosTxt1 h2{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotosTxt1 p{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotos2 {  /* 2 */
    display: flex;
    width: 55%;
    max-height: 50vw;
    padding: 2rem;
}

.sectionPhotos2 img{
    position: absolute;
    width: 40%;
    top: 70rem;
    left: 45rem;
}

.sectionPhotosTxt2 {
    width: 50%;
    background-color: #9767A9;
    position: relative;
    left: 50rem;
    top: 1rem;
    padding: 0.5rem;
}

.sectionPhotosTxt2 h2{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotosTxt2 p{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotos3 { /* 3 */
    display: flex;
    width: 55%;
    max-height: 50vw;
    padding: 2rem;
}

.sectionPhotos3 img{
    position: absolute;
    width: 40%;
    top: 100rem;
    left: 5rem;
}

.sectionPhotosTxt3 {
    width: 50%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: 5rem;
    padding: 0.5rem;
}

.sectionPhotosTxt3 h2{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotosTxt3 p{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotos4 {  /* 4 */
    display: flex;
    width: 55%;
    max-height: 50vw;
    padding: 2rem;
}

.sectionPhotos4 img{
    position: absolute;
    width: 40%;
    top: 120rem;
    left: 45rem;
}

.sectionPhotosTxt4 {
    width: 50%;
    background-color: #9767A9;
    position: relative;
    left: 50rem;
    top: 8rem;
    padding: 0.5rem;
}

.sectionPhotosTxt4 h2{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotosTxt4 p{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotos5 { /* 5 */
    display: flex;
    width: 55%;
    max-height: 50vw;
    padding: 2rem;
}

.sectionPhotos5 img{
    position: absolute;
    width: 40%;
    top: 145rem;
    left: 5rem;
}

.sectionPhotosTxt5 {
    width: 50%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: 12rem;
    padding: 0.5rem;
}

.sectionPhotosTxt5 h2{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotosTxt5 p{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotos6 {  /* 6 */
    display: flex;
    width: 55%;
    max-height: 50vw;
    padding: 2rem;
}

.sectionPhotos6 img{
    position: absolute;
    width: 40%;
    top: 170rem;
    left: 45rem;
}

.sectionPhotosTxt6 {
    width: 50%;
    background-color: #9767A9;
    position: relative;
    left: 50rem;
    top: 15rem;
    padding: 0.5rem;
}

.sectionPhotosTxt6 h2{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotosTxt6 p{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotos7 { /* 7 */
    display: flex;
    width: 55%;
    max-height: 50vw;
    padding: 2rem;
}

.sectionPhotos7 img{
    position: absolute;
    width: 40%;
    top: 195rem;
    left: 5rem;
}

.sectionPhotosTxt7 {
    width: 50%;
    background-color: #9767A9;
    position: relative;
    left: 10rem;
    top: 20rem;
    padding: 0.5rem;
}

.sectionPhotosTxt7 h2{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotosTxt7 p{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1vh ;
    margin-top: 1vh;
}

.sectionPhotos8 img{ /* 8 img */
    position: absolute;
    width: 40%;
    top: 220rem;
    left: 45rem;
}
/* sectionPhotos ends */

/* galery starts */

#galery{
    display: flex;
    position: relative;
    top: 25rem;
    left: 2rem;
    margin-right: 1rem;
}

.galeryCollum1{ /* 1 */
    display: grid;
}

.galeryCollum2{ /* 2 */
    display: grid;
}

.galeryCollum3{ /* 3 */
    display: grid;
    
}

.galeryCollum4{ /* 4 */
    display: grid;
    
}

.galeryCollum5{ /* 5 */
    display: grid;
    
}

#imgGalery1{
    width: 80%;
}

#imgGalery2{
    width: 80%;
}

#imgGalery3{
    width: 80%;
}

#imgGalery4{
    width: 80%;
}

#imgGalery5{
    width: 80%;
}

#imgGalery6{
    width: 80%;
}

#imgGalery7{
    width: 80%;
}

#imgGalery8{
    width: 80%;
}

#imgGalery9{
    width: 80%;
}

#imgGalery10{
    width: 80%;
}

/* galery ends */

/* footer starts */

#footer{
    display: flex;
    position: relative;
    width: 100%;
    height: 6vw;
    top: 28rem;
    background-color: #9767A9;
}

.footerP{
    margin-top: 2vw;
    color: #ffffff;
    font-size: 0.7rem;
}

.footerButton1{
    display: flex;
    align-items: center;
    border: red 1px solid;
}
.footerButton2{
    display: flex;
    align-items: center;
    border: blue 1px solid;
}

.footerButton3{
    display: flex;
    align-items: center;
    border: palevioletred 1px solid;
}

.footerButton1 img{
    display: none;
}

.footerButton2 img{
    display: none;
}

.footerButton3 img{
    display: none;
}

/* footer ends */


@media (min-width: 201px) and (max-width: 500px) {

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 7vh;
        background-color: #9767A9;
    }

    #logotipo {
        width: 8vh;
        /*18*/
        height: 7vh; 
        
    }

    .classUlNav {
        display: none;
    }

    #buscar {
        display: none;
    }

    .divIconsNav {
        display: none;
    }

    .sectionOne {
        display: flex;
    }

    #cabeludo {
        width: 170vw;
        height: 110vw;
    }

    .sectionOneText1 {
        position: relative;
        width: 30%; /* parei aqui */
        
    }
    
    .sectionOneText1 p {
        color: black;
    }
    
    .sectionOneText2 {
        display: none;
    }
    
    .sectionOneText2 p {
        display: none;
    }
    
    /* header ends */
    
    /* sectionpurple starts */
    
    .sectionPurple {
        display: none;
    }
    
    .sectionPurple1 {
        display: none;
    }
    
    .sectionPurple2 {
        display: none;
    }
    
    .sectionPurple1 p {
        display: none;
    }
    
    .sectionPurple2 p {
        display: none;
    }
    /* sectionpurple ends */
    
    /* sectionPhotos starts */
    
    .sectionPhotos {
        display: none;
    }
    
    .sectionPhotosImg {
        display: none;
    }
    
    .sectionPhotos1 {
        display: none;
    }
    
    .sectionPhotos1 img{
        display: none;
    }
    
    .sectionPhotosTxt1 {
        display: none;
    }
    
    .sectionPhotosTxt1 h2{
        display: none;
    }
    
    .sectionPhotosTxt1 p{
        display: none;
    }
    
    .sectionPhotos2 {  /* 2 */
        display: none;
    }
    
    .sectionPhotos2 img{
        display: none;
    }
    
    .sectionPhotosTxt2 {
        display: none;
    }
    
    .sectionPhotosTxt2 h2{
        display: none;
    }
    
    .sectionPhotosTxt2 p{
        display: none;
    }
    
    .sectionPhotos3 { /* 3 */
        display: none;
    }
    
    .sectionPhotos3 img{
        display: none;
    }
    
    .sectionPhotosTxt3 {
        display: none;
    }
    
    .sectionPhotosTxt3 h2{
        display: none;
    }
    
    .sectionPhotosTxt3 p{
        display: none;
    }
    
    .sectionPhotos4 {  /* 4 */
        display: none;
    }
    
    .sectionPhotos4 img{
        display: none;
    }
    
    .sectionPhotosTxt4 {
        display: none;
    }
    
    .sectionPhotosTxt4 h2{
        display: none;
    }
    
    .sectionPhotosTxt4 p{
        display: none;
    }
    
    .sectionPhotos5 { /* 5 */
        display: none;
    }
    
    .sectionPhotos5 img{
        display: none;
    }
    
    .sectionPhotosTxt5 {
        display: none;
    }
    
    .sectionPhotosTxt5 h2{
        display: none;
    }
    
    .sectionPhotosTxt5 p{
        display: none;
    }
    
    .sectionPhotos6 {  /* 6 */
        display: none;
    }
    
    .sectionPhotos6 img{
        display: none;
    }
    
    .sectionPhotosTxt6 {
        display: none;
    }
    
    .sectionPhotosTxt6 h2{
        display: none;
    }
    
    .sectionPhotosTxt6 p{
        display: none;
    }
    
    .sectionPhotos7 { /* 7 */
        display: none;
    }
    
    .sectionPhotos7 img{
        display: none;
    }
    
    .sectionPhotosTxt7 {
        display: none;
    }
    
    .sectionPhotosTxt7 h2{
        display: none;
    }
    
    .sectionPhotosTxt7 p{
        display: none;
    }
    
    .sectionPhotos8 img{ /* 8 img */
        display: none;
    }
    /* sectionPhotos ends */
    
    /* galery starts */
    
    #galery{
        display: none;
    }
    
    .galeryCollum1{ /* 1 */
        display: grid;
    }
    
    .galeryCollum2{ /* 2 */
        display: grid;
    }
    
    .galeryCollum3{ /* 3 */
        display: grid;
        
    }
    
    .galeryCollum4{ /* 4 */
        display: grid;
        
    }
    
    .galeryCollum5{ /* 5 */
        display: grid;
        
    }
    
    #imgGalery1{
        width: 80%;
    }
    
    #imgGalery2{
        width: 80%;
    }
    
    #imgGalery3{
        width: 80%;
    }
    
    #imgGalery4{
        width: 80%;
    }
    
    #imgGalery5{
        width: 80%;
    }
    
    #imgGalery6{
        width: 80%;
    }
    
    #imgGalery7{
        width: 80%;
    }
    
    #imgGalery8{
        width: 80%;
    }
    
    #imgGalery9{
        width: 80%;
    }
    
    #imgGalery10{
        width: 80%;
    }
    
    /* galery ends */
    
    /* footer starts */
    
    #footer{
        display: none;
    }
    
    .footerP{
        margin-top: 2vw;
        color: #ffffff;
        font-size: 0.7rem;
    }
    
    .footerButton1{
        display: flex;
        align-items: center;
        border: red 1px solid;
    }
    .footerButton2{
        display: flex;
        align-items: center;
        border: blue 1px solid;
    }
    
    .footerButton3{
        display: flex;
        align-items: center;
        border: palevioletred 1px solid;
    }
    
    .footerButton1 img{
        display: none;
    }
    
    .footerButton2 img{
        display: none;
    }
    
    .footerButton3 img{
        display: none;
    }
    
    /* footer ends */
}